{% extends 'HeVinciMockupBundle::library/claroline/layout.html.twig' %}

{% set toolName = toolName is defined ? toolName : 'Nouvel outil' %}
{% set toolIcon = toolIcon is defined ? toolIcon : 'question' %}
{% set toolSection = toolSection is defined ? toolSection : 'Bureau' %}
{% set toolPage = toolPage is defined ? toolPage : [] %}
{% set workspace = toolWorkspace is defined ? toolWorkspace : 'Espace personnel - jdoe' %}
{% set panelTitle = toolPage is empty ? toolName : toolPage|last %}

{% if toolSection == 'Administration' %}
    {% set toolList = [
            {'name': 'platform_parameters', 'icon': 'cog'},
            {'name': 'user_management'|trans({}, 'tools'), 'icon': 'user'},
            {'name': 'workspace_management'|trans({}, 'tools'), 'icon': 'book'},
            {'name': 'badges_management'|trans({}, 'tools'), 'icon': 'trophy'},
            {'name': 'registration_to_workspace'|trans({}, 'tools'), 'icon': 'book'},
            {'name': 'platform_plugins'|trans({}, 'tools'), 'icon': 'wrench'},
            {'name': 'home_tabs'|trans({}, 'tools'), 'icon': 'th-large'},
            {'name': 'desktop_tools'|trans({}, 'tools'), 'icon': 'pencil'},
            {'name': 'platform_logs'|trans({}, 'tools'), 'icon': 'bars'},
            {'name': 'platform_analytics'|trans({}, 'tools'), 'icon': 'bar-chart-o'},
            {'name': 'roles_management'|trans({}, 'tools'), 'icon': 'users'}
        ]
    %}
{% elseif toolSection == 'Espace d\'activités' %}
    {% set toolList = [
            {'name': 'show_as'|trans({}, 'mockup'), 'icon': 'eye'},
            {'name': 'home'|trans({}, 'tools'), 'icon': 'home'},
            {'name': 'resources'|trans({}, 'tools'), 'icon': 'folder-open'},
            {'name': 'parameters'|trans({}, 'tools'), 'icon': 'cog'},
            {'name': 'agenda'|trans({}, 'tools'), 'icon': 'calendar'},
            {'name': 'logs'|trans({}, 'tools'), 'icon': 'list'},
            {'name': 'analytics'|trans({}, 'tools'), 'icon': 'bar-chart-o'},
            {'name': 'user_management'|trans({}, 'tools'), 'icon': 'user'},
            {'name': 'badges'|trans({}, 'tools'), 'icon': 'trophy'},
            {'name': 'all_my_badges'|trans({}, 'tools'), 'icon': 'trophy'},
            {'name': 'claroline_activity_tool'|trans({}, 'tools'), 'icon': 'tasks'},
            {'name': 'claroline_team_tool'|trans({}, 'tools'), 'icon': 'users'}
        ]
    %}
{% elseif toolSection == 'Bureau' %}
    {% set toolList = [
            {'name': 'home'|trans({}, 'platform'), 'icon': 'home'},
            {'name': 'resources'|trans({}, 'platform'), 'icon': 'folder-open'},
            {'name': 'parameters'|trans({}, 'platform'), 'icon': 'cog'}
        ]
    %}
{% else %}
    {% set toolList = [] %}
{% endif %}

{% block title %}{{ toolName }} - {{ panelTitle }}{% endblock %}

{% block sidebar %}
    <div class="hidden-xs">
        <div class="hide">
            <div id="left-bar" class="sidebar">
                <div class="list-group menu" style="top: 0px;">
                    <div class="list-group-item disabled pouet">
                        {% if toolSection == 'Espace d\'activités' %}
                            {{ workspace }}
                        {% else %}
                            {{ toolSection }}
                        {% endif %}
                    </div>
                    {% set hasTool = false %}
                    {% for tool in toolList %}
                        {% if tool.name == toolName %}
                            {% set hasTool = true %}
                        {% endif %}
                        <a class="list-group-item" href="#">
                            <i class="fa fa-{{ tool.icon }}"></i>
                            {{ tool.name }}
                        </a>
                    {% endfor %}
                    {% if not hasTool %}
                        <a class="list-group-item active" href="#">
                            <i class="fa fa-{{ toolIcon }}"></i>
                            {{ toolName }}
                        </a>
                    {% endif %}
                </div>
                <div class="scroll-up hide" aria-hidden="true"><i class="fa fa-angle-double-up"></i></div>
                <div class="scroll-down" aria-hidden="true"><i class="fa fa-angle-double-down"></i></div>
            </div>
        </div>
        <div class="hide">
            <div id="right-bar" class="sidebar"></div>
        </div>
    </div>
{% endblock %}

{% block breadcrumb %}
    {% if toolSection == 'Espace d\'activités' %}
        <li><a href="#"><i class="fa fa-book"></i>
                {{ 'my_workspaces'|trans({}, 'platform') }}</a></li>
        <li><a href="#">{{ workspace }}</a></li>
    {% else %}
        <li>
            <a href="#"><i class="{% if toolSection == 'Administration' %}
            fa fa-cog
        {% elseif toolSection == 'Bureau' %}
            fa fa-briefcase
        {% endif %}"></i>
                {{ toolSection }}</a>
        </li>
    {% endif %}
    {% if toolPage is not empty %}
        <li><a href="#">{{ toolName }}</a></li>
        {% for element in toolPage %}
            {% if loop.last %}
                <li class="active">{{ element }}</li>
            {% else %}
                <li><a href="#">{{ element }}</a></li>
            {% endif %}
        {% endfor %}
    {% else %}
        <li class="active">{{ toolName }}</li>
    {% endif %}
{% endblock %}

{% block panelTitle %}
    {{ panelTitle }}
{% endblock %}
